{% extends 'base.html.twig' %}

{% block title %}Contactez-nous !{% endblock %}

{% block body %}

    <h1>Contactez-nous !</h1>

    {% for messages in app.flashes %}

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_errors(form.firstname) }}
        {{ form_widget(form.firstname) }}

        {{ form_errors(form.lastname) }}
        {{ form_widget(form.lastname) }}


        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}


        {{ form_errors(form.subject) }}
        {{ form_widget(form.subject) }}

        {{ form_errors(form.message) }}
        {{ form_widget(form.message) }}

        <button type="submit">Envoyer</button>

    {{ form_end(form) }}


{% endblock %}
